.presentation {
    display: flex;
    flex-direction: row;

    justify-content: center;

    width: 100%;
}

.presentation__p {
    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: justify;

    margin: 1.5em;
    width: 50%;

    font-size: 4em;
    font-weight: 900;
    line-height: 1.3;
}

.presentation__img {
    width: 50%;
}
