.product-list {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;

    padding: 0;
    margin: 0;
    gap: 0.2em;
}

.product-list li {
    display: flex;
    justify-content: center;
    flex: 1;
}
