.frame-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;

    width: 100%;
    height: 10em;

    border: 1px solid black;
}

.frame-image {
    position: absolute;
    object-fit: contain;

    width: 100%;
    height: 100%;
}

.frame-card {
    justify-content: center;
    align-content: center;
    position: absolute;
    transition: all 0.5s;

    width: 100%;
    height: 50%;

    background-color: rgb(0, 0, 0, 0.75);
    opacity: 0;

    color: white;
}

.frame-wrapper:hover .frame-card {
    transition: all 0.5s;

    opacity: 1;
}

.frame-description {
    text-align: center;

    margin: 0;
}
