.who-we-are {
    display: flex;
    flex-direction: row;

    justify-content: center;

    width: 100%;
}

.who-we-are__p {
    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: justify;

    margin: 1.5em;
    width: 50%;

    font-size: 1.6em;
    line-height: 1.3;
}

.who-we-are__img {
    width: 50%;
}
