.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 0.1em black;
    padding: 0;
}

.page-header__branding {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
