.image-card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;

    aspect-ratio: 10 / 16;
    width: 100%;

    margin: 0;
    border: 1px solid black;
}

.image-card__img {
    position: absolute;
    object-fit: cover;

    width: 100%;
    height: 100%;
}

.image-card__caption {
    justify-content: center;
    align-content: center;
    position: absolute;
    transition: all 0.5s;

    width: 100%;
    height: 50%;

    background-color: rgb(0, 0, 0, 0.75);
    opacity: 0;

    color: white;
}

.image-card:hover .image-card__caption {
    transition: all 0.5s;

    opacity: 1;
}

.image-card__description {
    text-align: center;

    margin: 0;
}
