.image-card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;

    aspect-ratio: 10 / 16;
    width: 100%;

    border-radius: 1em;

    margin: 0;
}

.image-card:hover {
    transition: all 0.5s;
    transform: scale(1.1);

    box-shadow: 0.1em 0.1em 0.5em black;
    z-index: 1;
}

.image-card__img {
    position: absolute;
    object-fit: cover;

    width: 100%;
    height: 100%;

    border-radius: inherit;
}

.image-card__caption {
    justify-content: center;
    align-items: center;

    position: absolute;
    transition: all 0.5s;

    width: 100%;
    min-height: 25%;

    background-color: rgb(0 0 0 / 0.5);
    border-radius: inherit;
    opacity: 0;

    color: var(--color-secondary);
}

.image-card:hover .image-card__caption {
    transition: all 0.5s;

    opacity: 1;
}

.image-card__description {
    text-align: center;

    margin: 0;
}
