.app-container__h1 {
    font-size: 2em;
    font-weight: 500;
}

.app-container__h2 {
    font-size: 1.5em;
    font-weight: 500;
}

.filled-button {
    display: block;

    background-color: var(--red);
    color: var(--color-secondary);
    font-size: 1.1em;
    border: solid 0.1em black;

    margin-right: 0.5em;
    margin-left: 0.5em;
    padding: 0.25em;
    border-radius: 0.25em;

    box-shadow: 0.1em 0.1em black;

    transform: translate(-0.1em, -0.1em);
    transition: all 100ms ease-out;
}

.filled-button:hover {
    box-shadow: 0.2em 0.2em black;
    transform: translate(-0.2em, -0.2em);
}

.filled-button:active {
    box-shadow: none;
    transform: none;
}
