@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-BoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-BlackItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 900;
    font-display: swap;
}

:root {
    --color-primary: rgb(0, 0, 0);
    --color-secondary: rgb(240, 240, 240);

    --yellow: rgb(220, 220, 0);
    --light-yellow: #ffffe0;
    --red: rgb(220, 0, 0);
}

body {
    margin: 3vh 20vw 3vh 20vw;
    font-size: 20px;
    padding: 1em;

    border: solid 0.1em lightgray;
    border-radius: 0.5em;

    box-shadow: 0.1em 0.25em 0.25em 0.1em lightgray;

    font-family: "Roboto", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

@media screen and (width <= 100rem) {
    body {
        margin: 2vh 5vw 2vh 5vw;
        font-size: 1rem;
    }
}

@media screen and (width >= 150rem) {
    body {
        font-size: 2rem;
    }
}
