.contact-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.contact-list {
    display: flex;
    flex-direction: row;

    margin: 0;
}

.contact-list__li {
    justify-content: center;
    align-content: center;

    margin-right: 0.3em;
    margin-left: 0.3em;
}
